body {
    background-color: #181715;
}

#my-irc {
    position: fixed;
    right: 0;
    margin-right: 300px;
    height:100px;
    width: 350px;
    background-color: #665d43;
    border: solid 1px #1d1e20;
    border-right: 0;
}

#my-irc h2{
    font-weight: normal;
    font-size: 24px;
    color: rgb(22, 21, 18);
}

#users {
    position: fixed;
    right:0;
    height: 100%;
    width: 300px;
    font-size: 16px;
    color: rgb(235, 235, 235);
    background-color: #312f2b;
}

#users h2 {
    border: solid 1px #1d1e20;
    background-color: #504d46;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    color: rgb(240, 240, 240);
    text-align: center;
}

#users .the-users {
    padding: 5px;
    border-top: 0px;
}

#login {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    width: 1000px;
}

#login h2 {
    color: white;
}

#form-login {

}

#login-form input
{
    height: 35px;
    width: 400px;
}

#login-submit
{
    color: black;
}

