#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 35px;
    padding-top: 0px;
}

#chat-form input { 
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ffffff1c;
    background-color: #ffffff21;
    color: #fff;
    text-indent: 15px;
}

.message {
    margin-bottom: 30px;
}

.content {
    margin-top: 10px;
}

.message p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
}

#span-user {
    font-size: 18px;
    /* color: rgb(8, 226, 171); */

}

.ul-channel {
    color: #ff9200;
}

#chat-messages {
    min-height: 450px;;
    overflow:auto;
}